@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    scroll-behavior: smooth;
}

/********** HEADER PAGE CREATED **********/

header{
    width: 100%;
    height: 70px;
    background-color: #01017b;
    display: flex;
    /* position: fixed; */
    /* top: 0; */
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.header-left-side a{
    text-decoration: none;
    font-size: 32px;
    color: white;
}
.header-left-side span{
    color: red;
}
.nav>ul{
    display: flex;
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.nav ul li a:hover{
    color: brown;
}

/********** HOME PAGE CREATED **********/

#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: #12123E;
    padding: 50px 150px;
    
}
.home-left-side{
    color: white;
}
.home-left-side h3{
    font-size: 32px;
    padding-bottom: 20px;
}
.home-left-side h3 span{
    color: rgb(64, 246, 64);
}
.home-left-side h1{
    font-size: 80px;
    padding: 5px 0;
    margin-bottom: 20px;
}
.home-left-side h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.home-left-side span{
    color: red;
}
.social-media a{
    display: inline-block;
    padding: 30px 10px;
}
.social-media a:hover{
    transform: scale(1.05);
}

.download-cv {
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
    padding:10px 30px;
    transition: all 0.3s;
    background-color: #181873;
}
.download-cv a{
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.download-cv:hover{
    transform: translateY(-5px);
    background-color: #12123E;
}
.home-right-side img{
    width: 350px;
    transition: border-radius 0.3s 0s linear;
}
.home-right-side img:hover{
    border-radius: 50px;
    cursor: pointer;
}

/********** ABOUT PAGE CREATED **********/

#about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px;
}
#about-section .about-left-side img{
    width: 500px;
    height: 600px;
    border: 3px solid red;
    transition: border-radius 0.5s 0s linear;
}
#about-section .about-left-side img:hover{
    border-radius: 50%;
    cursor: pointer;
}
#about-section .about-right-side{
    width: 50%;
}
.about-right-side h1{
    font-size: 42px;
    text-decoration: underline;
}
.about-right-side .frontend{
    color: red;
}
.about-right-side .developer{
    color: rgb(3, 157, 3);
}
.about-right-side .designer{
    color: blue;
}
.about-right-side p{
    font-size: 18px;
}
.about-right-side .projects{
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0;
}
.about-right-side ul{
    padding-left: 30px;
    font-size: 20px;
}
.about-right-side button{
    padding: 10px;
    margin: 30px 10px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    background-color: #0101a0;
}
.about-right-side button:hover{
    background-color: #01017b;
    cursor: pointer;
}

/********** SKILLS PAGE CREATED **********/

#skill-section{
    width: 100%;
    height: 100vh;
    background-color: #12123E;
    display: flex;
    padding: 0 50px;
}
.skill-left-side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-left-side .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .skills{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .skills img{
    width: 50px;
    height: 50px;
    transition: all 1s 0s linear;
}
.container .skills img:hover{
    transform: scale(1.3);
}
.container .skills span{
    color: white;
    padding-top: 10px;
    text-align: center;
}
.skill-right-side{
    width: 50%;
    border: 5px solid green;

}

/********** PROJECTS PAGE CREATED **********/

#project-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 80px;
    justify-content: center;
}
#project-section .project{
    width: 300px;
    padding: 15px;
    height: 350px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.logo img{
    width: 200px;
    height: 200px;
}
.project p{
    margin-top: 10px;
    text-align: center;
}